// Blog Home

.feature
  padding: $unit*8

  span
    color: $carnation
    font-size: 1em

  a
    display: block

  &.card
    margin: $unit*6 auto

    @media (max-width: $screen-xs)
      width: span(10 of 12)

.blog-feat
  @media (min-width: $screen-sm)
    display: flex

  .box.long
    // min-height: 65vh

    @media (min-width: $screen-xs)
      min-height: 500px

.blog-feat-sum
  padding-bottom: $unit*8 !important

.blog-sum
  display: flex
  width: span(11 of 12)
  margin: 0 auto

  @media (min-width: $screen-xs)
    width: span(10 of 12)

.blog-date
  width: span(3 of 12)
  text-align: right
  padding-right: 20px

.blog-content
  width: span(9 of 12)

.blog-header 
  width: 100%
  position: absolute
  z-index: 0

  background: rgb(71,116,230)
  background: -moz-linear-gradient(-45deg, rgba(71,116,230,1) 0%, rgba(31,30,138,1) 100%)
  background: -webkit-linear-gradient(-45deg, rgba(71,116,230,1) 0%,rgba(31,30,138,1) 100%)
  background: $gradient

.blog-title-container,
.blog-header 
  height: 50vh
  min-height: 200px
  max-height: 400px

.blog-tags
  margin-top: $unit*2
  margin-bottom: $unit*2

  @media (min-width: $screen-xs)
    margin-top: 0


// Blog Template
.blog-hero 
  height: 40vh
  min-height: 200px
  display: flex
  justify-content: flex-start
  align-items: flex-end
  padding-bottom: $unit*2
  background: $gradient

  h1
    width: 100%
    margin-left: $unit*14

    @media (min-width: $screen-xs)
      width: 625px
      max-width: 90%
      margin: 0 auto

// Blog Post
// ===

.blog-post
  padding-bottom: $unit*20

  h1,
  h2,
  h4,
  p,
  ul,
  .blog-img,
  .blog-details
    display: block
    max-width: 625px
    margin: 0 auto

  article
    padding: 0 $unit*5

    @media (min-width: $screen-sm)
      padding: 0  

  p:first-of-type:first-letter
    float: left
    font-family: $rubik
    font-size: 2.875em
    font-weight: 700
    line-height: 50px
    margin: 0px 8px -5px 0
    line-height: 60px
    color: $carnation

  p,
  li
    font-family: Georgia
    color: #222222
    font-size: 19px
    line-height: 29px

    a
     color: #222222
     text-decoration: underline

  ul
    margin: $unit*8 auto

  h2
    margin-top: $unit*10
    margin-bottom: $unit*7

  h1
    margin-top: $unit*10
    font-size: 1.8em

    @media (min-width: $screen-xs)
      margin-bottom: $unit*7
      font-size: 2.197em

.blog-image
  margin: $unit*10 auto
  display: block
  max-width: 400px

.blog-img-container
  background-color: $wall
  margin-top: $unit*8
  margin-bottom: 0
  margin-left: -$unit*5
  margin-right: -$unit*5
  padding: $unit*4

  @media (min-width: $screen-xs)
    width: 100%
    margin: $unit*10 0

  img
    width: 100%

.blog-nav
  width: 100%
  z-index: 1
  position: absolute

  a 
    padding: $unit*5
    color: $white
    display: block
    margin: 0
    text-transform: uppercase

.blog-title
  color: $white
  text-align: right
  z-index: 1
  position: relative
  line-height: 1.3

.blog-title-container
  width: 100%
  display: flex
  align-items: flex-end
  z-index: 0
  padding-bottom: $unit*8

.blog-img-2
  @include span(6 of 12)

.blog-img-3
  @include span(6 of 12 last)

iframe
  display: block
  margin-right: -20px
  margin-left: -20px
  margin-top: $unit*15
  margin-bottom: $unit*15

  @media (min-width: $screen-xs)
    max-width: 560px
    max-height: 315px
    margin: $unit*15 auto

.blog-subtitle
  font-size: 0.85em
  color: #C9C9C9
  font-family: $rubik
  letter-spacing: 0.5px
  text-transform: uppercase
  margin-bottom: $unit*2

.blog-link
  font-size: 0.8em
  text-align: right
  margin-top: 12px

.blog-post-link
  max-width: 625px
  margin: 0 auto
  display: block
  text-align: right



// Slider

.blog-post
  .slider-content
    margin: $unit*5 0
    background-color: $wall
  
    @media (min-width: $screen-xs)
      padding: $unit*10

    .slick-slide
      padding: $unit*15 $unit*6

      img
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15)

  .slide-generator
    bottom: auto
    top: -$unit*6

  .container 
    display: block
    margin-top: $unit*15

  .blog-p-feat
    font-size: 1.4em
    line-height: 1.3em


.blog-side-image
  display: none

  @media (min-width: $screen-sm)
    display: block
    width: 100%
    height: 500px
    background-image: url('../img/bananas.jpg')
    background-size: cover

.blog-column
  width: 100%

  @media (min-width: $screen-sm)
    width: 50%
    float: left

  .feature.card
    margin: 0 auto

  .bg-cn
    padding-top: $unit*20
    padding-bottom: $unit*20

.blog-column__feat

  @media (min-width: $screen-sm)
    max-width: 500px



