// Blog Home

.feature
  padding: $unit*8

  span
    color: $carnation
    font-size: 1em

  a
    text-align: right
    margin-top: $unit*3
    font-size: 0.8em
    display: block

  &.card
    margin: $unit*6 auto

    @media (max-width: $screen-xs)
      width: span(10 of 12)

.blog-feat
  @media (min-width: $screen-sm)
    display: flex

  .box.long
    // min-height: 65vh

    @media (min-width: $screen-xs)
      min-height: 500px

.blog-feat-sum
  padding-bottom: $unit*8 !important

.blog-sum
  display: flex
  width: span(10 of 12)
  margin: 0 auto

.blog-date
  width: span(3 of 12)

.blog-content
  width: span(9 of 12)

.blog-header 
  width: 100%
  position: absolute
  z-index: 0
  background-color: $saphire

.blog-title-container,
.blog-header 
  height: 50vh
  min-height: 200px


// Blog Template
.blog-hero 
  height: 40vh;
  background-color: $saphire
  min-height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: $unit*2

  h1
    width: 100%
    margin-left: $unit*14

    @media (min-width: $screen-xs)
      width: 625px;
      margin: 0 auto;

// Blog Post
// ===

.blog-post
  padding-bottom: $unit*20

  h1,
  p,
  ul,
  .blog-img,
  .blog-details
    display: block
    max-width: 625px
    margin: 0 auto

  p,
  li
    line-height: 1.4
    font-size: 1.2em

  article
    padding: 0 $unit*5

    @media (min-width: $screen-xs)
      padding: 0  

.blog-img-container
  background-color: $wall
  width: 100%
  margin: $unit*10 0
  padding: $unit*4 0

.blog-nav
  width: 100%
  z-index: 1
  position: absolute

  a 
    padding: $unit*5
    color: $white
    display: block
    margin: 0
    text-transform: uppercase

.blog-title
  color: $white
  text-align: right
  z-index: 1
  position: relative
  line-height: 1.3

.blog-title-container
  width: 100%
  display: flex
  align-items: flex-end
  z-index: 0
  padding-bottom: $unit*8

.blog-img-2
  @include span(6 of 12)

.blog-img-3
  @include span(6 of 12 last)


// Slider

.blog-post
  .slider-content
    margin: $unit*5 0
    background-color: $wall
    padding: $unit*10

    .slick-slide
      padding: $unit*6

      img
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);

  .slide-generator
    bottom: auto
    top: -$unit*6

  .container 
    display: block
    margin-top: $unit*15
