.portfolio
  position: relative

  .box
    display: flex
    align-items: center
    justify-content: center

  .port-text
    padding: $unit*5

    @media (min-width: $screen-xs)
      padding: $unit*10

  .port-text.lg
    @media (min-width: $screen-xs)
      height: auto
      padding-bottom: $unit*14

  .port-text.sm
    background-color: $saphire

  .port-title
    font-size: 0.7em


.portfolio-title
  width: 100%;
  padding: 20px;
  margin: 0;
  background-color: $wall

.portfolio-text-container
  @media (min-width: $screen-md)
    max-width: 420px

  // @media (min-width: $screen-xs)
  //   position: absolute
  //   top: $unit*15
  //   left: ($unit*10)-3px