<section class="about container" id="about">
  <div class="about-text box long">
    <h3 class="h1">About Me</h3>
    <div class="slider-controls"></div>
    <div class="slider-content">
      <div slick-title="Philosophy"><p>Iteration is key to designing an intuitive and delightful experience. Only user research will reveal what kind of experience you need. Write code clean, well documented, and simple from the start. Focus on projects that contribute to bettering our world.  </p></div>
      <div slick-title="Education"><p>I studied Psychology and carried out research at the University of Victoria. I apply my knowledge of human motivation and emotion to my user experience design and my knowledge of scientific research to learn more about user behavior.
      </p></div>
      <div slick-title="Fun Facts"><p>I was born and raised in Germany. I have a dog named Dexter. I’m part of a weightlifting club. I can ride a horse in both western and english style. I'm a huge fan of West Coast craft beer. My dream is to build a cabin in the woods.
      </p></div>
    </div>
  </div>
  <div class="about-photos photo-slide">
    <div class="bg-cn box long location">
    </div>
    <div class="bg-cn box long education">
    </div>
    <div class="bg-cn box long fun">
    </div>
  </div>
  <div class="clear"></div>
</section>