<section class="about">
  <div class="about-text box long">
    <h3 class="h1">About Me</h3>
    <div class="slider-controls"></div>
    <div class="slider-content">
      <div slick-title="Location"><p>I’m based out of Vancouver and I’m currently spending a full year in Thailand. I love to work remotely and am very accustomed to communicating via email or video call. Much of my past work has been done working with remote clients, such as my client base in Victoria, BC. Also, Thailand is beautiful, warm, affordable, and the people are amazing.</p></div>
      <div slick-title="Education"><p>Besides designing for the past 7 years I also studied Psychology and carried out research at the University of Victoria. I apply my knowledge of human motivation and emotion to my user experience design and to learn more about user behavior via research. While I understand many aspects of human nature, I am only interested in projects that contribute to bettering our world.  
      </p></div>
      <div slick-title="Fun Facts"><p>I was born and raised in Germany. I have a dog named Dexter. I’m part of a weightlifting club. I can ride a horse in both western and english style. I'm a huge fan of West Coast craft beer. My dream is to build a cabin in the woods. I am very musically challenged.  
      </p></div>
    </div>
  </div>
  <div class="about-photos photo-slide">
      <div class="bg-cn box long location">
        {{!-- <img src="img/thai.jpg"> --}}
      </div>
      <div class="bg-cn box long education">
        {{!-- <img src="img/profile.jpg"> --}}
      </div>
      <div class="bg-cn box long fun">
        {{!-- <img src="img/dexter.jpg"> --}}
      </div>
  </div>
  <div class="clear"></div>
</section>