<section class="blog-feat container">
  <div class="box long flex bg-cn ">
    <article class="feature card">
      <h3><a class="link mb-md" href="/uxsummit">1st Annual UX Futures Summit - Thanks Rosenfeld!</a></h3>
      <span class="bold">Nov 8</span>
      <p class="mt-lg">What does the future look like for UX? Wait, what is UX? How do we define UX, how do we measure it, how do we design it? So many questions to discuss at the online UX Futures Summit.</p>
      <a class="link blog-link" href="/uxsummit">Continue reading &gt;</a>
    </acticle>
  </div>
  <div class="box long blog-feat-sum">
    <div class="blog-sum">
      <div class="blog-date">
        <span class="color-cn bold"></span>
      </div>
      <div class="blog-content">
        <h2 class="h1">Blog</h2>
      </div>
    </div>

    <article class="blog-sum">
      <div class="blog-date">
        <span class="color-cn bold d-block mt-md">June 1</span>
      </div>
      <div class="blog-content">
        <h1 class="h3"><a class="link" href="/design">#1 Question from Peers: How did you become a Designer and Developer?</a></h1>
        <div class="blog-subtitle">Pt. 1 - Design</div>
        <p>My expertise lies in building out designs and interactions, coding semantic and accessible markup, building responsive layouts creating reusable component.</p>
      </div>
    </article>
    <article class="blog-sum mt-lg">
      <div class="blog-date">
        <span class="color-cn bold d-block mt-md">May 5</span>
      </div>
      <div class="blog-content">
        <h1 class="h3"><a class="link" href="/empathy">What we Learn from Empathy in User Experience </a></h1>
        <p>If you’ve ever been to any UX meeting, read any UX blog or book, or looked at any UX definition, it will usually says something like “empathise with the end user”. What does it mean, empathise?</p>
      </div>
    </article>
    <a class="link mt-lg d-block align-right" href="/blog">Read more &gt;</a>
  </div>
  <div class="clear"></div>
</section>