<section class="blog-feat container">
  <div class="box long flex bg-cn ">
    <article class="feature card">
      <h3 class="link mb-md">Five things Psychology has taught me about User Experience Design</h3>
      <span class="bold">July 23</span>
      <p class="mt-lg">My expertise lies in building out designs and interactions, coding semantic and accessible markup, building responsive layouts creating reusable component.</p>
      <a class="link" href="/blog">Continue reading &gt;</a>
    </acticle>
  </div>
  <div class="box long blog-feat-sum">
    <div class="blog-sum">
      <div class="blog-date">
        <span class="color-cn bold"></span>
      </div>
      <div class="blog-content">
        <h2 class="h1">Blog</h2>
      </div>
    </div>

    <article class="blog-sum">
      <div class="blog-date">
        <span class="color-cn bold d-block mt-md">April 31</span>
      </div>
      <div class="blog-content">
        <h1 class="link h3">UX and Empathy</h1>
        <p>My expertise lies in building out designs and interactions, coding semantic and accessible markup, building responsive layouts creating reusable component. </p>
      </div>
    </article>
    <article class="blog-sum mt-lg">
      <div class="blog-date">
        <span class="color-cn bold d-block mt-md">Nov 8</span>
      </div>
      <div class="blog-content">
        <h1 class="h3"><a class="link" href="/uxsummit">1st Annual UX Futures Summit - Thanks Rosenfeld!</a></h1>
        <p>What does the future look like for UX? Wait, what is UX? How do we define UX, how do we measure it, how do we design it? So many questions to discuss at the online UX Futures Summit.</p>
      </div>
    </article>
    <a class="link mt-lg d-block align-right" href="/blog">Read more &gt;</a>
  </div>
  <div class="clear"></div>
</section>