<div class="dtnav-container hidden-sm-down">
  <div class="container dtnav">
    <ul class="dtnav-list">
      <li><a class="dtnav-home dtnav-item link bold" href="/">MC</a></li>
      <li><a class="dtnav-item link bold" href="/#projects">Recent projects</a></li>
      <li><a class="dtnav-item link bold" href="/#work">What I do</a></li>
      <li><a class="dtnav-item link bold" href="/#about">About me</a></li>
      <li><a class="dtnav-item link bold" href="/#testimonials">Testimonials</a></li>
      <li class="p-relative"><a class="dtnav-item link bold js-dtnav">Social</a>
        <ul class="dtnav-drop">
          <li><a class="dtnav-item link bold" href="https://github.com/Magitron" target="_blank">GitHub</a></li>
          <li><a class="dtnav-item link bold" href="https://www.linkedin.com/in/maggiecaspar/" target="_blank">LinkedIn</a></li>
          <li><a class="dtnav-item link bold" href="https://angel.co/maggie-caspar" target="_blank">Angel.co</a></li>
        </ul>
      </li>
      <li><a class="dtnav-item link bold" href="/blog">Blog</a></li>
    </ul>
    <div class="dtnav-contact">
      <a href="mailto:maggiecaspar@gmail.com"><img src="img/contact.png"></a>
    </div>
    <div class="dtnav-email btn slide-btn blue">
      <a href="mailto:maggiecaspar@gmail.com" class="bttn">Email me</a>
    </div>
  </div>
</div>