<div class="mobnav-container hidden-sm-up">
  <ul class="mobnav">
   <li class="mobnav-home"><a href="/" class="bold">MC</a></li>
{{!--           <li class="flex mobile-email">
      <a href="mailto:maggiecaspar@gmail.com" class=" ">Email me</a>
    </li> --}}
    <li class="mobnav-button">
      <button class="mobnav-trigger js-mobnav-trigger">
        <div class="ham">
          <div class="bar bar1"></div>
          <div class="bar bar2"></div>
          <div class="bar bar3"></div>
        </div>
        Menu
      </button>
    </li>
  </ul>
  <nav class="mobnav-sub">
    <ul class="mobnav-sub-wrapper">
      <div class="mobnav-sub__nav">
        <div class="mobnav-sub__heading uppercase color-grey mobnav-heading">Page Navigation</div>
        <li><a class="link mobnav-sub__item" href="http://www.maggiecaspar.com/#projects">Recent projects</a></li>
        <li><a class="link mobnav-sub__item" href="http://www.maggiecaspar.com/#work">What I do</a></li>
        <li><a class="link mobnav-sub__item" href="http://www.maggiecaspar.com/#about">About me</a></li>
        <li><a class="link mobnav-sub__item" href="http://www.maggiecaspar.com/#testimonials">Testimonials</a></li>
        <li><a class="link mobnav-sub__item" href="/blog">Blog</a></li>
        <div class="clear"></div>
      </div>
      <div class="mobnav-sub__links">
        <div class="uppercase color-grey mobnav-sub__heading">Social Links</div>
        <li><a class="link mobnav-sub__item">GitHub</a></li>
        <li><a class="link mobnav-sub__item" href="https://www.linkedin.com/in/maggiecaspar/" target="_blank">LinkedIn</a></li>
        <li><a class="link mobnav-sub__item" href="https://angel.co/maggie-caspar" target="_blank">Angel.co</a></li>
        <div class="clear"></div>
      </div>
      <div class="mobnav-sub__contact">
        <li><a class="mobnav-sub__contact-link" href="mailto:maggiecaspar@gmail.com">Email Me &#x2192;</a></li>
      </div>
    </ul>
  <nav>
</div>
