<section class="portfolio">
  <h2 class="h1 portfolio-title">Recent Projects</h2>
  <article class="order-reverse-col-sm">
    <div class="port-text box lg">
      <div class="portfolio-text-container">
        <h3 class="mb-xxlg"><a class="link" href="/messaging">Messaging Feature</a></h3>
        <p class="mt-lg hidden-xs-up">I designed an intuitive, easy, and familiar user experince for a messaging feature. I developed it on Ruby on Rails using bootstrap.</p>
        <p class="mt-lg hidden-xs-down">I created the messaging user experience to be intuitive, easy, and familiar. I designed the interface to be clean, minimal, and follow brand style. Using Ruby on Rails and Bootstrap, I followed my clients development process while integrating best practices that will be easy for them to maintain and use. </p>
        <a href="http://parkpnp.com" target="_blank" class="mt-lg d-block link">parkpnp.com</a>
        <div class="mt-lg"><span class="mr-lg bold color-cn">ux &amp; ui design</span><span class="bold color-blue">front-end code</span></div>
      </div>
    </div>
    <div class="box lg bg-grey">
      <img src="img/parkpnp-mock.png">
    </div>
    <div class="clear"></div>
  </article>
  <article class="">
  <div class="box lg bg-cn">
      <img src="img/lighthouse.png">
    </div>
    <div class="port-text box lg">
      <div class="portfolio-text-container">
        <h3 class="mb-xxlg"><a class="link" href="/lighthouselabs">Lighthouselabs.ca</a></h3>
        <p class="mt-lg hidden-xs-up">On this project I worked closely with the designer, Andrew Tsang, to develop the new front-end of an coding bootcamp website.</p>
        <p class="mt-lg hidden-xs-down">On this project I worked closely with the designer, Andrew Tsang, to develop the new front-end of an coding bootcamp website. he biggest challenge on this project was coding the highly customized, responsive design, as the details and little interactions were highly important in fully bringing the design to life.</p>
        <a href="http://lighthouselabs.ca" target="_blank" class="mt-lg d-block link">Lighthouselabs.ca</a>
        <div class="mt-lg"><span class="bold color-blue">front-end code</span></div>
      </div>
    </div>
    <div class="clear"></div>
  </article>
  <article class="order-reverse-col-sm">
    <div class="port-text box lg">
      <div class="portfolio-text-container">
        <h3 class="mb-xxlg"><a class="link" href="/hotnight">Hotnight.ca</a></h3>
        <p class="hidden-xs-up">Creating a new user experience and interface for hotnight.ca that adjusts the experience according to user feedback and error reports.</p>
        <p class="hidden-xs-down">Creating a new user experience and interface for hotnight.ca that adjusts the experience according to user feedback and error reports. My friend and I initially built this app to help travelers in Whistler, BC find hostel rooms during the skii season. </p>
        <a href="http://hotnight.ca" target="_blank" class="mt-lg d-block link">hotnight.ca</a>
        <div class="mt-lg"><span class="mr-lg bold color-cn">ui design</span><span class="bold color-blue">front-end code</span></div>
      </div>
      </div>
    </div>
    <div class="box lg bg-grey">
      <img src="img/hotnight-mock.png">
    </div>
    <div class="clear"></div>
  </article>
  <article class="port-box">
    <div class="port-text box sm bg-blue">
      <div>
        <h3><a class="link h4 color-white" href="/kidsclub">Canucks Kids</a></h3>
      </div>
    </div>
    <div class="box sm ">
      <img src="img/canucks-mockup.png">
    </div>
  </article>
  <article class="port-box order-reverse-row-sm">
    <div class="port-text box sm bg-blue">
      <div>
        <h3><a class="link h4 color-white" href="/digital-divide">Digital Divide</a></h3>
      </div>
    </div>
    <div class="box sm ">
      <img src="img/dd.png">
    </div>
  </article>
  <article class="port-box order-reverse-row-sm">
    <div class="box sm">
      <img src="img/st.png">
    </div>
    <div class="box sm bg-blue">
    <div class="">
      <h3 class=""><a class="link color-white h4" href="/stormythreads">Stormy Threads</a></h3>
      </div>
    </div>
  </article>
  <article class="port-box">
    <div class="box sm ">
      <img src="img/codeitforward-feat.png">
    </div>
    <div class="port-text box sm bg-blue">
      <div>
        <h3 class="color-white"><a class="link color-white h4" href="/stormythreads">Code it Forward</a></h3>
      </div>
    </div>
     <div class="clear"></div>
  </article>
  <div class="more">
    <article class="port-box">
      <div class="port-text box sm  bg-blue">
        <div>
          <h3><a class="link h4 color-white" href="/kidsclub">Discourse Media</a></h3>
        </div>
      </div>
      <div class="box sm">
        <img src="img/discourse.jpg">
      </div>
    </article>
    <article class="port-box order-reverse-row-sm">
      <div class="port-text box sm  bg-blue">
        <div>
          <h3><a class="link h4 color-white" href="/digital-divide">Nourish Heal Glow</a></h3>
        </div>
      </div>
      <div class="box sm">
        <img src="img/nourish.jpg">
      </div>
    </article>
    <article class="port-box order-reverse-row-sm">
      <div class="box sm">
        <img src="img/hali-feat.jpg">
      </div>
      <div class="box sm bg-blue">
      <div class="">
        <h3 class=""><a class="link color-white h4" href="/stormythreads">Infographics</a></h3>
        </div>
      </div>
    </article>
    <article class="port-box">
      <div class="box sm ">
        <img src="img/codeitforward-feat.png">
      </div>
      <div class="port-text box sm bg-blue">
        <div>
          <h3 class="color-white"><a class="link color-white h4" href="/stormythreads">Code it Forward</a></h3>
        </div>
      </div>
    </article>
  </div>
  <div class="clear"></div>
  <div class="see-more">
    <button class="btn btn-ghost grey">See more</button>
  </div>
</section>