<section class="portfolio">
  <h2 class="h1 portfolio-title container">Recent Projects</h2>
  <article class="order-reverse-col-sm container">
    <div class="port-text box lg">
      <div class="portfolio-text-container">
        <h3 class="mb-xxlg"><a class="link" href="/messaging">ParkPnP Messaging Feature</a></h3>
        <p class="mt-lg hidden-xs-up">I designed an intuitive, easy, and familiar user experince for a messaging feature. I developed it on Ruby on Rails using bootstrap.</p>
        <p class="mt-lg hidden-xs-down">I designed this messaging user experience to be intuitive, easy, and familiar. The interface is clean, minimal, and follows brand style. Using Ruby on Rails and Bootstrap, I coded the interface to suit my clients development process while integrating best practices that will be easy for them to maintain and use. </p>
        <a href="http://parkpnp.com" target="_blank" class="mt-lg d-block link">parkpnp.com</a>
        <div class="mt-lg"><span class="tag tag-red mr-lg bold color-cn">ux &amp; ui design</span><span class="tag tag-blue bold color-blue">front-end code</span></div>
      </div>
    </div>
    <div class="box lg bg-grey">
      <a href="/messaging"><img src="img/parkpnp-mock.png"></a>
    </div>
    <div class="clear"></div>
  </article>
  <article class="container">
  <div class="box lg bg-cn">
      <a href="/lighthouselabs"><img src="img/lighthouse.png"></a>
    </div>
    <div class="port-text box lg">
      <div class="portfolio-text-container">
        <h3 class="mb-xxlg"><a class="link" href="/lighthouselabs">Lighthouselabs.ca</a></h3>
        <p class="mt-lg hidden-xs-up">On this project I worked closely with the designer, Andrew Tsang, to develop the new front-end of an coding bootcamp website.</p>
        <p class="mt-lg hidden-xs-down">On this project I worked closely with the designer, Andrew Tsang, to develop the new front-end of an coding bootcamp website. he biggest challenge on this project was coding the highly customized, responsive design, as the details and little interactions were highly important in fully bringing the design to life.</p>
        <a href="http://lighthouselabs.ca" target="_blank" class="mt-lg d-block link">Lighthouselabs.ca</a>
        <div class="mt-lg"><span class="tag tag-blue bold color-blue">front-end code</span></div>
      </div>
    </div>
    <div class="clear"></div>
  </article>
  <article class="container order-reverse-col-sm">
    <div class="port-text box lg">
      <div class="portfolio-text-container">
        <h3 class="mb-xxlg"><a class="link" href="/hotnight">Hotnight.ca</a></h3>
        <p class="hidden-xs-up">Creating a new user experience and interface for hotnight.ca that adjusts the experience according to user feedback and error reports.</p>
        <p class="hidden-xs-down">Creating a new user experience and interface for hotnight.ca that adjusts the experience according to user feedback and error reports. My friend and I initially built this app to help travelers in Whistler, BC find hostel rooms during the ski season. </p>
        <a href="http://hotnight.ca" target="_blank" class="mt-lg d-block link">hotnight.ca</a>
        <div class="mt-lg"><span class="tag tag-red mr-lg bold color-cn">ux &amp; ui design</span><span class="tag tag-blue bold color-blue">front-end code</span></div>
      </div>
      </div>
    </div>
    <div class="box lg bg-grey">
      <a href="/hotnight"><img src="img/hotnight-mock.png"></a>
    </div>
    <div class="clear"></div>
  </article>
  <article class="port-box container">
    <div class="port-text box sm bg-blue">
      <div>
        <h3><a class="link port-title color-white" href="/kidsclub">Rebuilding Canucks Kids</a></h3>
      </div>
    </div>
    <div class="box sm ">
      <a href="/kidsclub"><img src="img/canucks-mockup.png"></a>
    </div>
  </article>
  <article class="port-box order-reverse-row-sm container">
    <div class="port-text box sm bg-blue">
      <div>
        <h3 class="color-white"><a class="link color-white port-title" href="/wip">Works in Progress</a></h3>
      </div>
    </div>
    <div class="box sm ">
      <a href="/wip"><img src="img/home-reno-feat.png"></a>
    </div>    
  </article>
  <article class="port-box order-reverse-row-sm container">
    <div class="box sm">
      <a href="/bd-hack"><img src="img/bd-mock2.png"></a>
    </div>
    <div class="port-text box sm  bg-blue">
      <div>
        <h3><a class="link port-title color-white" href="/bd-hack">BuildDirect Hackathon Team Project</a></h3>
      </div>
    </div>
  </article>
  <article class="port-box container">
    <div class="box sm">
      <a href="/stormythreads"><img src="img/st.png"></a>
    </div>
    <div class="box sm bg-blue">
      <div class="port-text">
        <div>
          <h3 class=""><a class="link color-white port-title" href="/stormythreads">Branding &amp; UX for Stormy Threads</a></h3>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </article>
  <div class="more">
    <article class="port-box container">
      <div class="port-text box sm bg-blue">
        <div>
          <h3><a class="link port-title color-white" href="/possible">Branding values of Youth and Movement</a></h3>
        </div>
      </div>
      <div class="box sm">
        <a href="/possible"><img src="img/discourse.jpg"></a>
      </div>
    </article>
    <article class="port-box container order-reverse-row-sm">
      <div class="port-text box sm bg-blue">
        <div>
          <h3><a class="link port-title color-white" href="/digital-divide">A Collection of Infographics</a></h3>
        </div>
      </div>
      <div class="box sm ">
        <a href="/digital-divide"><img src="img/dd.png"></a>
      </div>
    </article>
    <article class="port-box order-reverse-row-sm container">
      <div class="box sm">
        <a href="/posters"><img src="img/courage-feature.jpg"></a>
      </div>
      <div class="box sm bg-blue">
        <div class="port-text">
          <h3 class=""><a class="link color-white port-title" href="/posters">Graphic Poster Challenge</a></h3>
        </div>
      </div>
    </article>
    <article class="port-box container">
      <div class="box sm ">
        <a href="/forward"><img src="img/codeitforward-feat.png"></a>
      </div>
      <div class="port-text box sm bg-blue">
        <div>
          <h3 class="color-white"><a class="link color-white port-title" href="/forward">Logo for Social Initiative</a></h3>
        </div>
      </div>
    </article>
  </div>
  <div class="clear"></div>
  <div class="see-more">
    <button class="btn btn-ghost grey" onclick="createCookie()">See more</button>
  </div>
</section>