<section class="work bg-wall">
  <h2 class="h1 work-title">What I do</h2>
  <div class="slider-controls toggle"></div>
{{!--   <div class="work-heading">
    <h3 class="color-cn">Design</h3>
    <h3 class="color-cn">Web Development</h3>
  </div> --}}
  <div class="slider-content">
    <div class="item active" slick-title="What I do">
      <div class="box md work-left">
        <h3 class="color-cn mb-xxlg">Design</h3>
        <p>I design user friendly experiences for apps by an iterative process of user research, ideation, sketchboarding, wireframing, and prototyping. Using the brand’s persona and experience guidelines I create the visual design to carry suit the motivation, emotion, and story of the experience.</p>
      </div>
      <div class="box md work-right">
        <h3 class="color-cn mb-xxlg">Web Development</h3>
        <p>My expertise lies in building out designs and interactions, coding semantic and accessible markup, building responsive layouts, and creating reusable components. I am excited by working on a team with other enthusiastic developers to collaboratively solve problems and build a high quality product together. </p>
      </div>
      <div class="clear"></div>
    </div>
{{!--     <div class="item" slick-title="What I don't do">
      <div class="box md work-left">
        <p>While I love to grow in my design skills, and I love to design on my free time, my professional services focus on user experience or user interface design for mobile or web applications only.
        That means I am not looking for work on static web sites, content creation, basic logo designs, or illustration or graphic design. </p>
      </div>
      <div class="box md work-right">
        <p>On my free time I may create a side project from the ground up, however my professional services don’t include any form of backend development, hosting setup, or subscription, analytics, or wordpress setups. That means I don’t work on static web sites, coding platforms like squarespace or others, or wordpress themes. 
        </p>
      </div>
      <div class="clear"></div>
    </div> --}}
  </div>
      <img class="img-design" src="img/design.png">
      <img class="img-code" src="img/code.png">
</section>