<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/slider.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

    
    

  </head>
  <body>
    <div class="desktop-nav-container hidden-xs-down">
      <div class="container desktop-nav">
        <ul>
          <li><a class="desktop-home-icon link bold" href="/">MC</a></li>
          <li><a class="link bold" href="https://github.com/Magitron" target="_blank">GitHub</a></li>
          <li><a class="link bold" href="https://www.linkedin.com/in/maggiecaspar/" target="_blank">LinkedIn</a></li>
          <li><a class="link bold" href="https://angel.co/maggie-caspar" target="_blank">Angel.co</a></li>
        </ul>
        <div class="slide-bttn">
          <a href="mailto:maggiecaspar@gmail.com" class="bttn">Email me</a>
        </div>
      </div>
    </div>

    <div class="mobile-nav-container hidden-xs-up">
      <ul class="mobile-nav">
        <li class="mobile-menu-button"><button class="mobile-nav-trigger"><div class="ham"><div class="bar bar1"></div><div class="bar bar2"></div><div class="bar bar3"></div></div>Menu</button></li>
          <ul class="mobile-sub-nav">
            <li><a class="link bold" href="https://github.com/Magitron" target="_blank">GitHub</a></li>
            <li><a class="link bold" href="https://www.linkedin.com/in/maggiecaspar/" target="_blank">LinkedIn</a></li>
            <li><a class="link bold" href="https://angel.co/maggie-caspar" target="_blank">Angel.co</a></li>
            <div class="clear"></div>
          </ul>
        <li class="mobile-home-icon"><a href="/">MC</a></li>
        <li class="flex mobile-email">
          <a href="#0" class=" ">Email me</a></div>
        </li>

      </ul>
      
    </div>
    <main>
      {{{@body}}}
    </main>
  <footer class="bg-cn">
    <div class="footer">
      <p class="float-left color-white bold">To get in touch with me about a potential project please contact me via email.</p>
      <div class="slide-bttn">
        <a href="mailto:maggiecaspar@gmail.com" class="bttn">Email me</a>
      </div>
      <div class="clear"></div>
    </div>
  </footer>
  
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

  </body>
</html>
