<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/slider.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    
    

  </head>
  <body>
  <div class="nav">
  <ul>
    <li><a class="link bold" href="/">MC</a></li>
    <li><a class="link bold" href="https://github.com/Magitron" target="_blank">GitHub</a></li>
    <li><a class="link bold" href="https://www.linkedin.com/in/maggiecaspar/" target="_blank">LinkedIn</a></li>
    <li><a class="link bold" href="https://angel.co/maggie-caspar" target="_blank">Angel.co</a></li>
  </ul>
  <div class="flex">
    <a href="#0" class="bttn">Email me</a>
  </div>
   {{!--  <button class="btn btn-ghost contact-button" type="email" mailto="maggiecaspar@gmail.com">Email me</button> --}}
  </div>
      {{{@body}}}

  <footer>
    <div class="footer bg-grey">
      <p>If you have an inovative project you’d like me to work on, or you’d simply like to chat, let me know :)</p>
      <button class="btn btn-primary" mailto="maggiecaspar@gmail.com">Drop me a line</button>
    </div>
    <div class="clear"></div>
  </footer>
  
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

  </body>
</html>
