<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/slider.js"></script>
    <script src="js/cookies.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98683168-1', 'auto');
      ga('send', 'pageview');

    </script>
    
    

  </head>
  <body>
    <div class="wrapper">
      {{>desktopnav}}

      <div class="mobile-nav-container hidden-sm-up">
        <ul class="mobile-nav">
         <li class="mobile-home-icon"><a href="/">MC</a></li>
{{!--           <li class="flex mobile-email">
            <a href="mailto:maggiecaspar@gmail.com" class=" ">Email me</a>
          </li> --}}
          <li class="mobile-menu-button">
            <button class="mobile-nav-trigger">
              <div class="ham">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
              </div>
              Menu
            </button>
          </li>
        </ul>
      </div>
      <ul class="mobile-sub-nav">
        <div class="mobile-sub-nav-wrapper page-nav">
          <div class=" uppercase color-grey mobile-nav-heading">Page Navigation</div>
          <li><a class="link " href="#projects">Recent projects</a></li>
          <li><a class="link " href="#work">What I do</a></li>
          <li><a class="link " href="#about">About me</a></li>
          <li><a class="link " href="#testimonials">Testimonials</a></li>
        </div>
        <div class="mobile-sub-nav-wrapper social-links">
          <div class=" uppercase color-grey mobile-nav-heading">Social Links</div>
          <li><a class="link">GitHub</a></li>
          <li><a class="link" href="https://www.linkedin.com/in/maggiecaspar/" target="_blank">LinkedIn</a></li>
          <li><a class="link" href="https://angel.co/maggie-caspar" target="_blank">Angel.co</a></li>
          <div class="clear"></div>
        </div>
      </ul>

      <main>
        {{{@body}}}
      </main>
      <footer class="bg-cn">
        <div class="footer">
          <p class="float-left color-white bold">To get in touch with me about a potential project, please contact me via email.</p>
          <div class="footer-contact btn slide-btn red">
            <a href="mailto:maggiecaspar@gmail.com" class="bttn">Email me</a>
          </div>
          <div class="clear"></div>
        </div>
      </footer>
    
      <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    </div>
  </body>
</html>
