.bg-green
  background-color: green

.bg-purple
  background-color: purple

.bg-cn
  background-color: $carnation

.bg-blue
  background-color: $saphire

.bg-grey
  background-color: $concrete

.bg-wall
  background-color: $wall

.color-cn
  color: $carnation

.color-white
  color: $white !important

.color-blue
  color: $saphire

.color-dg
  color: $not-black

.order-reverse-col-sm
  @media (max-width: $screen-sm)
    display: flex
    flex-direction: column-reverse

.order-reverse-row-sm
  @media (max-width: $screen-sm)
    display: flex
    flex-direction: row-reverse
    clear: both

.n
  font-family: $noyh
  font-weight: lighter
