<div class="">
  <div class="blog-hero">
    <h1 class="color-white">Blog</h1>
  </div>
  <div class="column">
    <div class="box long flex bg-cn ">
      <article class="feature card">
        <h3 class="link mb-md">Five things Psychology has taught me about User Experience Design</h3>
        <span class="bold">July 23</span>
        <p class="mt-lg">My expertise lies in building out designs and interactions, coding semantic and accessible markup, building responsive layouts creating reusable component.</p>
        <a class="link">Read more &gt;</a>
      </acticle>

    </div>
    
  </div>
  <div class="column">
    <div class="box long">

      <article class="blog-sum mt-xxlg">
        <div class="blog-date">
          <span class="color-cn bold d-block mt-md">April 31</span>
        </div>
        <div class="blog-content">
          <h1 class="link h3">UX and Empathy</h1>
          <p>My expertise lies in building out designs and interactions, coding semantic and accessible markup, building responsive layouts creating reusable component. </p>
        </div>
      </article>
      <article class="blog-sum mt-lg">
        <div class="blog-date">
          <span class="color-cn bold d-block mt-md">May 7</span>
        </div>
        <div class="blog-content">
          <h1 class="link h3">How I built up a perfect portfolio</h1>
          <p>My expertise lies in building out designs and interactions, coding semantic and accessible markup, building responsive layouts creating reusable component. </p>
        </div>
      </article>
     
    </div>
  </div>
   <div class="clear"></div>
</div>