<div class="blog-post">
  <div class="blog-header">
  </div>
{{!--   <nav class="blog-nav">
    <a href="/" class="h3 n uppercase">Maggie Caspar</a>
  </nav> --}}
  <article>
    <div class="blog-title-container">
      <h1 class="blog-title">Building the Lighthouse Labs new website</h1>
    </div>
    <div class="mt-xxlg">
      <span class="mr-xxlg bold color-cn">November - January, 2016</span>
      <a href="/" class="link mr-xxlg">Lighthouselabs.ca</a>
      <span class="mt-lg"><span class="mr-lg bold color-cn">ux &amp; ui design</span><span class="bold color-blue">front-end code</span></span>
      <p class="mt-xxlg">
      Spare ribs turducken venison alcatra ribeye. Jerky turkey ground round beef ribs porchetta doner rump tri-tip tongue kevin. Picanha corned beef chuck frankfurter shank bacon. Filet mignon shankle porchetta cupim tongue cow bacon. Cupim venison pig jerky filet mignon, tongue doner pork belly tenderloin pancetta hamburger.
      <br><br>
      Rump biltong corned beef bresaola. Beef porchetta filet mignon, picanha kielbasa ground round ham tenderloin cupim tri-tip. Jowl boudin spare ribs, doner capicola andouille sirloin ham hock landjaeger ham turducken. Jowl porchetta hamburger doner. Meatball jowl kielbasa tri-tip bresaola. Capicola burgdoggen sausage drumstick fatback pancetta. Flank sirloin pig cupim swine tongue andouille, chuck ham biltong beef spare ribs.
      <br><br>
      Fatback pancetta andouille, boudin capicola hamburger prosciutto sausage tongue turkey venison alcatra chicken. Venison ball tip pancetta kevin ham beef ribs. Biltong brisket landjaeger tail spare ribs fatback ribeye. Sirloin fatback meatball, ham hock cupim biltong alcatra brisket pork chop flank sausage.
    </p>
    </div>

  </article>

</div>