<div class="blog-post">
  <div class="blog-header">
  </div>
  <article>
    <div class="blog-title-container">
      <h1 class="blog-title">Branding for a Social Initiative</h1>
    </div>
    <div class="mt-xxlg">
      <span class="blog-details">
        <span class="mr-xxlg bold">March 2015</span>
        <div class="d-inline-block blog-tags">
          <span class="bold tag tag-red">brand design</span>
        </div>
      </span>
      <div class="blog-img-container pt-xxlg pb-xxlg">
        <img src="img/codeitforward.png" class="blog-img" alt="code it forward logo"/>
      </div>
      <p class="mt-xxlg">
        Code It Forward is a social initiative that gathers developers, designers, and ideators together to solve IT problems for charities and non-profits in our local community.</p>
    </div>
  </article>
</div>