<div class="blog-post">
  <div class="blog-header">
  </div>
  <article>
    <div class="blog-title-container">
      <h1 class="blog-title">Rebuilding Canucks Kid's with modern technology</h1>
    </div>
    <div class="mt-xxlg">
      <span class="blog-details">
        <span class="mr-xxlg bold">July 2015</span>
        <a href="/http://kids.nucksnation.com/" class="link mr-xxlg" target="_blank">kids.nucksnation.com</a>
        <div class="d-inline-block blog-tags">
          <span class="bold tag tag-blue">front-end code</span>
        </div>
      </span>
      <div class="blog-img-container">
        <img src="img/canucks-mockup.png" class="blog-img" alt="mockup of the website"/>
      </div>
      <p class="mt-xxlg">
      This was one of my projects while I was contracting as a Jr. Front-end Developer &amp; Designer for Canucks Sports &amp; Entertainment. The Kid’s Club site had been built 4 years ago, my job was to rebuild the website from scratch using modern technology. To rebuild the site, I used Node.js, Koa.js, Gulp, and Susy.</p>

      <p>The challenge was to improve the experience of the old site while still using the same creative assets and design. To improve onto the original static and non-reponsive site, I:

      <ul class="mt-xxlg mb-xxlg">
        <li>made the site fully-responsive;</li>
        <li>added a responsive navigation bar;</li>
        <li>added animations (menu icons wiggle on hover, navigation items show a green bar on hover, etc). As a user clicks through the nav bar, icons swoosh in and out according to what is clicked. For example, if the user is viewing content, such as colouring pages, and clicks on “printables” in the nav, the content will swoosh out and the menu icons will swoosh in, letting the user then chose from “Mazes”, “Coloring pages”, and “Word Scrambles”;</li>
        <li>built the footer to be consistently present throughout the whole site.</li>
      </ul>

      <p>If you'd like to do a maze or two visit <a a href="http://kids.nucksnation.com/" target="
      _blank" class="link">kids.nucksnation.com</a>.</p>
    </div>
  </article>
</div>