<div class="blog-post">
  <div class="blog-header">
  </div>
  <article>
    <div class="blog-title-container">
      <h1 class="blog-title">#1 Question from Peers: How did you become a Designer and Developer?</h1>
    </div>
    <div class="mt-xxlg">
      <span class="blog-details">
        <span class="mr-xxlg bold color-cn">April 2017</span>
        <span class="blog-subtitle">Pt. 1 - Design</span>
      </span>
      <p class="mt-xxlg blog-p-feat">The most frequent question peers track me down for is how to make a career switch to design.</p>
 
      <p><em>Please note: This post is written for determined learners wanting to become UX and UI designers themselves. I’m going to overlook controversial definitions of UX and UI designers for simplicity.</em></p>
 
      <p>I've been designing for almost 10 years now and am fully self taught. My first design job was at the local newspaper and purely thanks to a manager to had faith in hiring a young creative and dedicated woman despite the lack of formal design education. Which I’ve found to be a key in the self teaching journey - finding a mentor. If you’re one of the people to reach out to me information, you’ve already taken advantage of this :)</p>
 
      <p>But what I’ve learned the most from this experience is that reading &amp; practice, learning from others, and taking advantage of resources are your biggest aids in self learning. </p>
 
      <h2>Reading &amp; Practice</h2>
      <p>Your first step to get into user experience and user interface design is to read. Books like "<a target="_blank" href="https://www.amazon.com/Dont-Make-Think-Revisited-Usability/dp/0321965515/ref=sr_1_1?s=books&ie=UTF8&qid=1495958004&sr=1-1&keywords=dont+make+me+think">Don't make me think</a>"" by Steve Krug, "<a target="_blank" href="https://www.amazon.com/Creative-Confidence-Unleashing-Potential-Within/dp/038534936X/ref=sr_1_1?s=books&ie=UTF8&qid=1495957991&sr=1-1&keywords=creative+confidence">Creative Confidence</a>" by David &amp; Tom Kelley, "<a target="_blank" href="https://abookapart.com/products/designing-for-emotion">Designing for Emotion</a>" by Arron Walter, and “<a target="_blank" href="https://www.amazon.com/Design-Everyday-Things-Revised-Expanded/dp/0465050654/ref=sr_1_1?s=books&ie=UTF8&qid=1495958045&sr=1-1&keywords=the+design+of+everyday+things">The Everyday Design of Things</a>” by  Donal'd A. Norman are a fantastic start to give you a perspective on user experience design. </p>
 
      <p>From there on try some more technical books like "<a target="_blank" href="http://rosenfeldmedia.com/books/the-user-experience-team-of-one/">The UX Team of One</a>" by Leah Buley, “<a target="_blank" href="https://www.amazon.com/Sketching-User-Experiences-Interactive-Technologies/dp/0123740371">Sketching User Experiences</a>” by Bill Buxton and other's like that. </p>
      <p>Also, subscribe to blogs that you find interesting, like <a target="_blank" href="https://www.uxpin.com/">UX Pin</a> or <a target="_blank" href="http://uxmag.com/">UXMag</a>, for example. </p>
       
      <p>Go to social events. One of the best experiences was attending the UX futures summit that was being live streamed to an audience in Vancouver. I paid a fraction of the price and got to meet the local UX community. <a target="_blank" href="https://www.meetup.com/">Meetup</a> is also a great place to tap this community.</p>
       
      <p>I even went to the <a target="_blank" href="https://thecdm.ca/">Center of Digital Media</a> for a tour and met some great connections who were more than happy to guide me in my learning journey. </p>
       
      <p>You could also take some paid courses with <a target="_blank" href="https://teamtreehouse.com/">Team Tree House</a>, or join a UX bootcamp, although this would be the more time consuming and more expensive route.</p>

      <p>From there on I would practice. Use the process you learned from the books (something like ideation > sketching > wireframing > prototyping). Do some sketching, write down ideas, plan out the user experience, get feedback from your friends. I even made a blog for a weekly design challenge to keep myself accountable to practicing every week. </p>
       
      <p>Download <a target="_blank" href="https://www.sketchapp.com/">Sketch</a> and try making some UI designs. And to be honest, unless you have to show low fidelity wireframes to a client, paper and pencil wireframes are perfectly fine. They are easy and fast to create, edit, and throw away.</p>
       
      <p>But seriously, a great way to practice your creativity is to iterate. Draw out your idea, then throw it away and start a new one. Make it better than your first. </p>

      <h2>Learn from others</h2>
      <p>Meeting others in the UX community not only inspired me, but it also helped me learn other’s perspectives and their roles in user experience design. You’ll find that the field of UX is actually quite diverse, and if you have some previous education or experience, you might be able to put them to use!</p>
       
      <p>Finding a mentor can make a huge difference as they not only provide you with guidance and knowledge, but also connections and references. Sometimes that means you have to go out on a limb and ask a stranger to mentor you, but typically people a. love to talk about themselves and b. are flattered to be considered mentor material. </p>
       
      <h2>Take advantage of your resources</h2>
      <p>Sometimes this one isn’t quite so obvious, but here are a few examples. If you’re currently employed at a company and are looking to make a career switch, check if you’re eligible for education benefits. </p>
       
      <p>Before I made my career switch my company paid for me to take an HTML &amp; CSS course with <a target="_blank" href="http://ladieslearningcode.com/">Ladies Learning Code</a>. Some companies also have an account for furthering education and self development.</p> 
       
      <p>Visit your local library. Luckily, good design doesn’t age. </p>
       
      <h2>Establish yourself</h2>
      <p>A great way to become part of the design community is to have an online portfolio to present your work. Don’t fret - you haven’t done any “work” yet, but that doesn’t mean the designs you’ve created aren’t worth showing. </p>
       
      <p>If you’ve done your homework, and you’ve practiced and created some designs, add them to your portfolio! Explain your process of how you created that design like a case study. Present the problem and how you solved it. </p>
       
      <p>My first portfolio was created by using a simple Wordress theme. Anything that will neatly display your work and show a little bit about who you are. </p>
       
      <p>One entryway to the industry as a self taught junior is the startup industry. Find an internship, apply to a ton of local projects. I personally think that starting locally as opposed to online first is better as it provides opportunities for physical teamwork and real life communication. I think working as a junior online can leave a lot of communication gaps due to a lack of experience. </p>
       
      <p>My personal opinion is that it’s okay to do one or two free projects to start you off, but start charging for your work past that. <a target="_blank" href="https://www.hellobonsai.com/rates">Bonsai</a> is a great place to see how much to charge based on your location and experience. They also have a great free platform for logging hours, generating contracts, and creating invoices.</p>
       
      <h2>Summary</h2>
      <p>Read, practice, connect, repeat. Do some self reflective work to see what kind of design work and work environment would fulfill you, research different positions that currently exist, and then apply the steps above. Best of luck!</p>

      <h4 class="mt-xxlg mb-xxlg"><a class="link" href="develop">Continue to part 2 - Development</a></h4>

    </div>
    <a class="link blog-post-link" href="/blog">See more posts &gt;</a>
  </article>


</div>