<div class="blog-post">
  <div class="blog-header">
  </div>
  <article>
    <div class="blog-title-container">
      <h1 class="blog-title">#1 Question from Peers: How did you become a Designer and Developer?</h1>
    </div>
    <div class="mt-xxlg">
      <span class="blog-details">
        <span class="mr-xxlg bold color-cn">March 2017</span>
        <span class="blog-subtitle">Pt. 2 - Development</span>
      </span>
      <p class="mt-xxlg blog-p-feat">The most frequent question peers track me down for is how to make a career switch to development.</p>
 
      <p>I learned to code by attending an 8 week immersive coding bootcamp in Vancouver called <a href="https://lighthouselabs.ca/" target="_blank">Lighthouse Labs</a>. I’d heard great things about it and I really wanted to make an immediate career change. I had zero prior coding knowledge. </p>
       
      <p>Lighthouse Labs provided the intense career change I wanted. It was 8 intense weeks of learning how to code, making connections, and being immersed in the tech and startup community. A perfect place to get started. </p>
       
      <p>They have a 7 to 1 teacher assistant ratio, which means you’re never alone. I made some amazing connections with TAs that inspired me and helped me learn the material and push through the program. </p>
       
      <p>The downside is that you have to be 150% committed. Whether you have a coding background or not, the program with provide you with everything you need to start your progress toward a career as a developer. The catch is that you have to do all the work.</p>
       
      <p>Immersive means checking out of life for 8 weeks and dedicating every day, the entire day, to learning. Safe to say when you graduate from the program, you will have built multiple web applications and will be able to start an internship as a junior web developer. </p>
       
      <p>When I graduated from the program, the career services at Lighthouse Labs held a demo day for graduates which helped me land a 4 month internship with Canucks Sports and Entertainment.</p>

      <p>After that Lighthouse Labs hired me to build the new front-end of their current website. It's been smooth sailing since!</p>

      <h2>For the less committal</h2>
      <p>For those who don’t have the time, money, or resources to commit to a coding bootcamp, or for those who aren’t yet sure if they want to, there are many other resources out there. </p>
       
      <p><a target="_blank" href="https://lighthouselabs.ca/intro-to-web">Lighthouse Labs</a> also offers an introductory web development course that takes place two nights per week. During this program you will also learn how to build a web application. It’s a great program to test the waters before committing to the bootcamp.</p>
       
      <p>Free online code schools such as <a target="_blank" href="https://www.codecademy.com/">Codeacademy</a> or <a target="_blank" href="https://www.codeschool.com/">Code School</a> provide lessons to start off your introduction to code. <a target="_blank" href="http://lighthouse-labs.thinkific.com/">Lighthouse Labs</a> has also started offering free online courses. </p>
       
      <p><a target="_blank" href="https://teamtreehouse.com/">Team Tree House</a> is also great online source to learn from if you like videos, but it does have a monthly fee. I personally enjoyed the diversity and quality of learning materials provided. </p>
       
      <p>For something more hands on, and what I started off with first, is taking a course with <a target="_blank" href="http://ladieslearningcode.com/">Ladies Learning code</a> (men are welcome too :)). To kick off your introduction take a course on HTML &amp; CSS and move on to further courses like CSS or JQuery. </p>
       
      <p>The benefit of taking local courses is that you meet others in the community that are on the same path as you. If you’re looking to become a developer, making connections will be key :).</p>

      <p>Subscribe to websites publish articles what you're interested in learning. For example, <a href="https://zellwk.com/">Zell Liew</a>, <a target="_blank" href="http://webtoolsweekly.com/">Web Tools Weekly</a>, <a target="_blank" href="http://css-weekly.com/">CSS Weekly</a>, [insert your favourite language] Weekly ;).</p>
       
      <p>Immerse yourself in the tech industry! Go to <a target="_blank" href="https://www.meetup.com/">meetups</a> (e.g. Code &amp; Coffee, Tech Talent, HackerNest) go to Lighthouse Labs <a target="_blank" href="https://lighthouselabs.ca/events">demo days</a>, and meet people who can mentor you, ask them where they learned how to code and if they have advice for you.</p> 



      <h2>Practice</h2>
      <p>Make sure to practice your newfound skills. Build more and more and more. The best thing about coding is that you can learn so much in a day that you can outdate your prior days work in 12 hours. </p>
      
      <p>For example, if you build an online resume, rebuild it the following day or week and apply all the new things you’ve learned. Practice making your code cleaner and more maintainable. </p>
       
      <p>Use text editors like <a target="_blank" href="https://www.sublimetext.com/">Sublime</a> to code and practice using the <a target="_blank" href="https://www.codecademy.com/en/learn/learn-the-command-line">command line</a>.</p> 
       
      <p>Some say being a developer is all about being lazy, and while some of them are lazy, being a developer is actually about being efficient. It’s about saving your time by automating tasks, creating alias shortcuts, writing clean, sustainable code, and taking full advantage of your tools. 
      </p>
       
      <h2>Establish yourself</h2>
      <p>Once you’ve gained a all the skills, put them online. Showing people what you’ve done and what you’re capable of building will be the key to getting you a job as a junior developer.</p>
       
      <p>Create a <a target="_blank" href="https://github.com/">github</a> account and learn how to push your code to your account. If you need more examples of work you’ve done, follow some tutorials and build on them. </p>
       
      <p>Make sure you have a polished LinkedIn account, and check out other sites like <a target="_blank" href="https://angel.co/">Angel.co</a> where countless startups are looking to hire. </p>
       
      <h2>Summary</h2>
      <p>To wrap up your question of how to become a developer: go learn, either by yourself or by a bootcamp, either way you need to be capable of self teaching and motivating yourself. Always know that Google is your best friend in this, and you will spend a lot of time googling all the things. Best of luck!</p>


      <h4 class="mt-xxlg mb-xxlg"><a href="/design" class="link">Continue to part 1 - Design</a></h4>

    </div>
    <a class="link blog-post-link" href="/blog">See more posts &gt;</a>
  </article>


</div>