<div class="blog-post">
  <div class="blog-header">
  </div>
  <article>
    <div class="blog-title-container">
      <h1 class="blog-title">What we Learn from Empathy in User Experience</h1>
    </div>
    <div class="mt-xxlg">
      <span class="blog-details">
        <span class="mr-xxlg bold color-cn">May 2017</span>
      </span>
      <p class="mt-xxlg blog-p-feat">If you've ever read or heard anything user experience related, you've probable heard something like “empathise with the end user”. But what does it actually mean, empathise?</p>
 
      <h2>Empathy: the capability of feeling what someone else is feeling</h2>
 
      <p>Often people make the mistake of confusing empathy and sympathy. Sympathy is the concern for the well-being of someone else, to feel sorry for someone’s trouble or grief. In the case of user experience design, that would be feeling sorry that your users can't navigate your website. </p>
      <p>Empathy is very different to sympathy as it involves <em>feeling</em> the way someone else feels. For example, putting yourself into your user's shoes to understand how they are perceiving your product and why they aren't using your product they way you inteded.</p>
       
      <p>This video provides a simple and visual explanation of the difference between empathy and sympathy.</p>
 
     <iframe class="blog-video" width="560" height="315" src="https://www.youtube.com/embed/1Evwgu369Jw" frameborder="0" allowfullscreen></iframe>

     <p>In the video, Dr.Brené Brown paraphrases Theresa Wiseman's 4 qualities of empathy:</p>

     <ul>
      <li>the ability to take someone else's perspective and recognize it as ther truth</li>
      <li>staying out of judgement</li>
      <li>recognizing emotion in other people</li>
      <li>and the ability to communicate that you do</li>
     </ul>

     <p>The biggest point is that <em>empathy drives connection</em>. When we're building a solution for an audience, the ability to connect with the users will determine the quality of the product</p>

     <p>One of my favourite examples to illustrate this point is a story from the experiences of David and Tom Kelley, from their book "<a href="https://www.amazon.com/Creative-Confidence-Unleashing-Potential-Within/dp/038534936X"/>Creative Confidence</a>".</p>

      <p>In a project to decrease premature infant mortality rates in the developing world, a group of engineers designed a portable infant incubator.</p>

      <p>Most of the premature infant deaths were due to hypothermia after the baby had been taken home. So the engineering team developed a portable “incubator” that mothers could heat up to a specific degree shown on an LCD display.</p>

      <p>While testing the prototype to explore how different cultures accept or reject the device, the team leared that mothers in India were very skeptical of Westen Medicine. So skeptical, they stated, they significantly reduce dosages despite the doctors presciption. </p>

      <p>Not heating the incubator to the prescibed degree could be detrimental to the infant. To embrace this bias, the team changed the display from reading a degree to reading "OK" when ready.</p>

      <p>It's by empathising and connecting with their users that the team discovered how to account for culutal biases, to assure the full potential of the incubator, and to truly help solve the problem they inteded to.</p> 
       
      <h2>Conclusion</h2>
       
      <p>Empathy is a significant tool for user experience design. Connecting with your audience and really putting yourself into their shoes to feel the way they feel about using your product, will improve your process immensely. <p>


    </div>
    <a class="link blog-post-link" href="/blog">See more posts &gt;</a>
  </article>


</div>