<div class="blog-post">
  <div class="blog-header">
  </div>
  <article>
    <div class="blog-title-container">
      <h1 class="blog-title">1st Annual UX Futures Summit - Thanks Rosenfeld!</h1>
    </div>
    <div class="mt-xxlg">
      <span class="blog-details">
        <span class="mr-xxlg bold color-cn">November 2016</span>
      </span>
      <p class="mt-xxlg blog-p-feat">
        What does the future look like for UX? Wait, what is UX? How do we define it, measure it, design it? </p>

        <p>So many questions to discuss at the online UX Futures Summit on November 5, 2014. Leaders in user experience, Andy Polaine, Abby Covert, Steve Krug, Nathan Shedroff, Margot Bloomstein, and Jesse James Garret got together to discuss what careers in UX will look like and how it will shape the world in 20 to 50 years. Here's the highlights I took from it.</p>
        <br>
        <h2>How can UX impact the world?</h2>
        <p>Can small UX choices impact the word? Andy Polaine brings a good point by looking at design in powers of 10. The 70's film "Powers of Ten" examines the world from close up, like a person's skin, and zooms out by powers of ten. Zero meters, 10 meters, 100 meters, and so on.</p>
        <p>Eventually we are viewing the earth from the universe. Secondly, we go back to the skin level, and move in by powers of ten, all the way until we are the a-cellular level. Can UX have this same effect? Can a tiny choice in user interface impact every level of the power of ten?</p>

        <p>Andy's example begins with a story in which he ships a beautiful lamp to a friend in the UK, only for it to arrive bent. Turns out, when he clicked a tiny little checkmark during online checkout asking him to insure his package, he never checked to see what it really entails. Now having to check the insurance guidelines, he clicks the link by the checkmark, which leads him about 5 pages deeper until he finally finds out what exactly it covers and who he needs to contact. </p>
        <p>Then, he contacts the appropriate shipping agency, who tells him the receiver has to make the claim. However, when the receiver made the claim in his country, the agency said the sender needs to make the claim. And so, both of them were sort of lost at this "universe" level between these two shipping agencies, trying to figure out what they can do next. All thanks to a tiny little user interface element.</p>

        <p>On a brighter and more positive note, Andy brings us a second example. BT is a telecommunications company that needed to send routers to its customers. But instead of sending a box to a household that a postman would have to deliver, leave a note because the family isn't home, drive back to the warehouse so someone else can drive the package to the nearest post office, which the family will have to drive to on a Saturday morning to pick it up, BT designed its router and box to be small enough to fit a postal box. </p>
        <p>Consequently, BT significantly reduced the amount and work and traffic by making a simple design choice. Can these kind of chooses lead to a more environmentally friendly future and impact the world? </p>
        <br>
        <h2>How are we living in a world made of information?</h2>

        <p>On a different scale, Abby Covert presented our world as a world of information. The biggest contribution of her talk, to me, was emphasizing the importance of language and information architecture. Many disputes arise through miscommunication, one person may perceive a word with a meaning different from another person's perception. </p>
        <p>To prevent this problem, she brought forth the distinction between lexicography and ontology. Instead of using language like a dictionary, where one word can have 200 different meanings, agree on a certain vocabulary. Know the terms and concepts within a certain domain. If you choose the language you use, and all agree to use the same language, it may make everything a lot simpler and prevent confusion and miscommunication. Think about this in terms of working with your team mates and working with your clients.</p>

        <p>Building on this, Abby Covert made a good point of defining the difference between information, content, and data. While these terms are sometimes used synonymously, they are distinctly different. Information, as she says, is subjective, its something that the user interprets, assumes, or perceives. Content is the speech, words, video etc. Data are facts or observations.</p>
        <br>
        <h2>What is UX and how will it be valuable in the future?</h2>
        <p>How do we define User Experience design? Like Steve Krug points out, you can find a plethora of different diagrams defining what UX is on Hienads Drahun's slideshare of "<a href="http://www.slideshare.net/Hienadz.Drahun/50-visual-definitions-of-user-experience">Visual Definitions of User Experience</a>". Fifty different diagrams, ranging from venn diagrams, to euler diagram, process diagrams, and even 3D diagrams, all explain the same concept in completely different ways. For the sake of simplicity and humour, we all agreed this one was the best:</p>

        <div class="blog-image"><img src="img/ux.jpg" alt="A diagram of a horse showing how functionality, usability, and pleasure work together to create an experience"></div>

        <p>To combat this confusion, Steve noted that as a UX designer it would be beneficial to specify what it is that you actually do. Many UX designers specialize in 1 or 2 aspects of UX design, such as user interface and information architecture, and have a broad knowledge of the other aspect of UX, such as usability, research, or content strategy. He did leave us with one definition, although he didn't quite agree with it, "a UX person makes a product easy to use and beneficial to the user."</p>

        <p>As for the future, Steve believes that the value of usability will not change as its principles are based on human ability (which changes with evolution), and usability testing will continue to be valuable whether its quantitative or qualitative.</p>
        <br>
        <h2>How to use Sci-fi movies to learn lessons from the future</h2>
        <p>Nathan Shedroff brings a fun, creative, and innovative approach to UX design, to take <em>"interaction design lessons literally from the future". </em>He points out the reoccurring trend of technology seen in Sci-fi movies becoming reality 10 to 30 years later. He listed a ton of movies from which we've seen this phenomenon, such as the little phone used in StarTrek, the "communicator", which 10 years later is exactly what Nokia released as the first flip mobile phone.</p>

        <p>Here are some of his exercise suggestions to get your sci-fi innovation on. One, think of and design a super hero and brainstorm crazy ideas of what this hero can do. Two, redesign the backend of an interface seen in a Sci-fi, fantasy, or hero movie. </p>
        <p>Third, brainstorm one new super futuristic technology and then bring it to reality by designing a real life version of it. Even dress it up like its from the future, like using dark and neon colours and sci-fi fonts. This kind of design will actually make people excited to see something "futuristic". If you're really brave, try designing a vision for a more sustainable future. <p>

        <p>What can you come up with that could benefit the world? If BT can create a more sustainable future by designing a package to fit in your postal box, what can you come up with?</p>

        <p>Learn from the future, if its good for the audience its almost always good for the user. Learn from the mistakes that happened in sci-fi movies.</p>
        <br>
        <h2>Does social media democratize publishing?</h2>
        <p>Margot Bloomstein takes us into the depth of content strategy to "expand our expectations of 'everyone'". Since so many people have the ability and opportunity to publish content in our era, has publishing become democratized? Back in time when one town or even state only had one, the people who owned the technology also controlled the content. </p>
        <p>But how do we examine the distribution of content now, when every person is able to be a citizen journalist by posting content onto social media, sometimes even faster than brand media outlets? And when this content is distributed, who does the credit go to?</p>

        <p>Today, one journalist can increase the popularity of a whole news outlet with his/her Twitter followers. So who is more worth following, the journalist or the brand that's hosting the journalist?</p>

        <p>When it comes to designing content, Margot points out that as UX designers we have the opportunity to amplify the voices of the others. We can make the <em>creation</em> of content more accessible and make the content more accessible.</p>

        <p>How do we make it easier for people to produce high quality content? How do we help them learn publishing and to get it right the first time? Methods like having editorial comments right in the user interface, letting the user know to do it "like this" and "not like this" can make it much more easier for the user to publish quality content. </p>
        <p>Provide tool tips and pre-empt explanations, such as why they need to fill something out. Give them guidance and make it a positive experience. With good UX design, users are able to do it right the first time instead of being dinged for doing it wrong. This creates more accessible tools to reduce barriers to quality. </p>
        <br>
        <h2>What will we see looking back on the first 50 years of UX?</h2>
        <p>How will we feel looking back at the first 50 years of UX?  Jesse James Garret took the perspective of looking back on the first 50 years of UX, from the future. He examines particular aspects of UX on a spectrum.</p>

        <p>What kind of work will be doing? What kind of problems will we be solving? From Jesses perspective, the spectrum of product oriented execution focus vs multi channel system oriented focus will look similar to a bell curve, with equal amounts on each side, but most people residing somewhere in the middle.</p>

        <p>As for practice, will we use methods from the soft sciences or hard sciences? Much like opinion in the room, the spectrum of sciences seemed to look much like a valley, with most people choosing either hard science or soft science.</p>

        <p>Who will be working in UX? Jesse predicts that on the spectrum of "cowboys" (those in the frontiers who learned on their own) to "graduates" (people who took an interest in UX and pursued a BA and Masters in UX) will start to shift toward graduates. The "cowboys", as he states, will slowly die out. This was a point where some of us were not quite sure or agreeable. </p>
        <p>One student made the comment that based on this perspective she felt she either needed to be a graduate, dead, or a man. I think perhaps some of us may have taken this to heart since we are the "cowboys". </p>
        <p>There are only few degrees in UX specifically, as it is still such a new field, and most of us were at this Summit to replace this kind of education, and to learn from the best so we can take better skills back to our frontiers. However, I find it exciting to think that we will have more educational programs available for UX in the future!</p>

        <p>What kind of role do UX designers take on? We will have to think about whether UX designers will be part of a collaborative team where everyone has different specializations and roles, or if they will choose to be a team of one, the master of all. </p>
        <p>We all agreed that to some extent that although UX will shift to a more team oriented practice, the team of one will continue to be the best solution for the small organizations or start-ups that can't afford a team of designers.</p>

        <p>Similarly, how will UX shift in terms of in-house designers or consulting practices? The room seemed to have different opinions on this as some people worked as consultants and others worked in-house. But valuable strategies and comments were made on making your value known as an in-house UX designer, especially as many struggled with being the first one on the team to get laid off because the value of their work wasn't measurable in assets. </p>
        <p>For example, one attendee suggested creating a cohort within your workplace of people who understand (or who you can teach) the value of UX, to create a movement or larger voice for the need and benefit of user experience.</p>
        <br>
        <h2>What happens now?</h2>
        <p>The need for an emotional connection with a product and empathy with the end user seems to be spreading rapidly. We're seeing a complete switch in language to a more personable tone, we're seeing much more usable designs that keep the end user mind, we're seeing usability research being done so we can redesign our apps and websites to suit actual human needs. What I love most of all is that we are actually making products with everyone in mind. Like the Andy Polaine's powers of ten, it's amazing how much UX can bring to both individual people and to the world.</p>
      </p>
    </div>
    <a class="link blog-post-link" href="/blog">See more posts &gt;</a>
  </article>


</div>