$saphire: #5269DD
$carnation: #FA4F5B
$perano: #A3AFEC
$puertorico: #3BBEA1

// UI Colors
$not-black: #242935
$dark-grey: #626262
$concrete: #DFE1E4
$light-grey: #F8F8F8
$wall: #F9F9F9
$white: #FFFFFF

.bg-green
  background-color: green

.bg-purple
  background-color: purple

.bg-cn
  background-color: $carnation

.bg-blue
  background-color: $saphire

.bg-grey
  background-color: $concrete

.bg-wall
  background-color: $wall

.color-cn
  color: $carnation

.color-white
  color: $white !important

.color-blue
  color: $saphire !important

.color-dg
  color: $not-black

.color-grey
  color: $concrete