/*.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }*/



html {
  font-size: 1.2em;
  line-height: 1.4;
}

@media (min-width: 768px) {
  html {
    font-size: 1.10em; 
    line-height: 1.15; 
  }
}
 

@media (min-width: 1200px) {
  html {
    font-size: 1.20em;
    line-height: 1.25;
  }
}
  

body, h1, p {
  margin: 0;
}

h1 {
  font-size: 2.197em;
  margin: 0.3591em 0;
  font-weight: normal;
}

h2 {
  font-size: 1.69em;
  margin: 0.3091em 0;
  font-weight: normal;
}

h3 {
  font-size: 1.3em;
  margin: 0.2591em 0;
  font-weight: normal;
}

p + p {
  margin-top: 1em !important;
}

.h1 {
  font-size: 2.197em;
  margin: 0.3591em 0;
}

.h2 {
  font-size: 1.69em;
  margin: 0.3091em 0;
}

.h3 {
  font-size: 1.3em;
  margin: 0.2591em 0;
}

.h4 {
  font-size: 0.9em;
  margin: 0.2091em 0;
  font-weight: normal;
}
