<div class="blog-post">
  <div class="blog-header">
  </div>
  <article>
    <div class="blog-title-container">
      <h1 class="blog-title">Building a community app within 24 hours</h1>
    </div>
    <div class="mt-xxlg">
      <span class="blog-details">
        <span class="mr-xxlg bold">November 2016</span>
        <a href="/https://meowbify.surge.sh/" class="link mr-xxlg">https://meowbify.surge.sh/</a>
        <div class="d-inline-block">
          <span class="bold ">front-end code</span>
        </div>
      </span>
      <div class="blog-img-container">
        <img src="img/bd-mock2.png" class="blog-img" alt="mockup of the website"/>
      </div>
      <p class="mt-xxlg">
       This is a progressive web app to track your renovation journey. As a tean of 5 we created this project during a 24hr hackathon hosted by BuildDirect. </p>

       <p>As part of the team I worked closely with the designer to code the experience as she was designing it. </p>

      <p>Take it for a quick spin on your mobile <a href="https://meowbify.surge.sh/" target="
      _blank" class="link">here</a>.</p>

      <div class="blog-img-container">
        <img src="img/bd-mock.png" class="blog-img" alt="mockup of the website"/>
      </div>
    </div>
  </article>
</div>