<div class="blog-post">
  <div class="blog-header">
  </div>
  <article>
    <div class="blog-title-container">
      <h1 class="blog-title">Nuancing the Digital Divide Infographic</h1>
    </div>
    <div class="mt-xxlg">
      <span class="blog-details">
        <span class="mr-xxlg bold">2015</span>
        <div class="d-inline-block">
          <span class="bold ">infographic design</span>
        </div>
      </span>
      <div class="blog-img-container">
        <img src="img/dd2.jpg" class="blog-img" alt="mockup of the website"/>
      </div>
      <p class="mt-xxlg">
      I've been creating infographics and other digital and print media for research divisions at and the University of Victoria since 2014. This is one of my favourite! </p>
    </div>
  </article>
</div>