<div class="blog-post">
  <div class="blog-header">
  </div>
  <article>
    <div class="blog-title-container">
      <h1 class="blog-title">Solving the DIY experience</h1>
    </div>
    <div class="mt-xxlg">
      <span class="blog-details">
        <span class="mr-xxlg bold">Ongoing</span>
        <a href="https://www.dittly.co/" class="link mr-xxlg" target="_blank">dittly.co</a>
        <div class="d-inline-block blog-tags">
          <span class="mr-lg bold tag tag-red">ux &amp; ui design</span>
          <span class="bold tag tag-blue">front-end code</span>
        </div>
      </span>
     <div class="blog-img-container">
        <img src="img/dittly.png" class="blog-img" alt="mockup of the website"/>
      </div>
      <p class="mt-xxlg">
      Currently, many do it yourself (DIY) projects are failing unnecessarily due to a lack of knowledge sharing and community. To solve this problem, we created Dittly, a platform on which users can plan projects and connect with the home-improvement community.</p>
      <p>To address the needs of our target audience, Dittly will be available on smartphone, tablet, and desktop computer, and will feature a simple, very easy to use interface, and an experience designed to be intuitive, deligtful, and most of all, helpful.</p>
      <p>To ensure our product, build, and deployment is flawless, our tech stack includes graphQL, NextJS, and ReactJS. </p>
    </div>
  </article>
</div>