<div class="blog-post">
  <div class="blog-header">
  </div>
  <article>
    <div class="blog-title-container">
      <h1 class="blog-title">Designing a product, development process, and team for hotnight.ca</h1>
    </div>
    <div class="mt-xxlg">
      <span class="blog-details">
        <span class="mr-xxlg bold">November 2015 and ongoing</span>
        <a href="http://hotnight.ca/" class="link mr-xxlg">hotnight.ca</a>
        <div class="d-inline-block blog-tags">
          <span class="mr-lg bold">ux &amp; ui design</span>
          <span class="bold tag tag-blue">front-end code</span>
        </div>
      </span>
      <div class="slide-container">
        <div class="slide-generator">
          <svg class="generator" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 63.8"><style>.a{fill:#FFF;}</style><path d="M61.9 20.6c-0.4-1-1.5-1.6-2.6-1.2 -1 0.4-1.6 1.5-1.2 2.6 2.6 7 2.4 14.6-0.7 21.4 -3.1 6.8-8.6 12-15.6 14.6 -7 2.6-14.6 2.4-21.4-0.7 -2.4-1.1-4.6-2.5-6.6-4.2 1.6 0 3.4 0 5.2-0.4 1.1-0.2 1.8-1.2 1.6-2.3 -0.2-1.1-1.2-1.8-2.3-1.6 -3.6 0.6-7.1 0.1-9.1-0.3 -0.7-0.3-1.5-0.2-2.1 0.2 -0.2 0.2-0.4 0.4-0.5 0.7 0 0 0 0.1 0 0.1 0 0.1-0.1 0.2-0.1 0.3 -0.1 0.4-0.1 0.8 0 1.2 0.5 1.7 1.7 6.6 1.2 9.6 -0.2 1.1 0.6 2.1 1.7 2.3 0.1 0 0.2 0 0.3 0 1 0 1.8-0.7 2-1.7 0.2-1.5 0.2-3.1 0-4.7 2.2 1.8 4.6 3.3 7.1 4.5 4.2 1.9 8.7 2.9 13.2 2.9 3.8 0 7.6-0.7 11.3-2.1 8-3 14.3-9 17.9-16.7C64.7 37.2 64.9 28.6 61.9 20.6z" class="a"/><path d="M6.5 20.3c6.4-14.1 23-20.3 37-14 2.3 1.1 4.5 2.4 6.4 4 -1.6 0-3.4 0-5.1 0.4 -1.1 0.2-1.8 1.2-1.6 2.3 0.2 1.1 1.2 1.8 2.3 1.6 3.9-0.7 7.6-0.1 9.5 0.4 0 0 0.1 0 0.1 0 0.1 0 0.2 0 0.3 0 0 0 0.1 0 0.1 0 0 0 0 0 0.1 0 0.1 0 0.2 0 0.2 0 0.1 0 0.1 0 0.2 0 0.1 0 0.2 0 0.2-0.1 0 0 0.1 0 0.1-0.1 0.1 0 0.1-0.1 0.2-0.1 0.1 0 0.1-0.1 0.2-0.1 0 0 0 0 0.1 0 0 0 0.1-0.1 0.1-0.1 0 0 0.1-0.1 0.1-0.1 0 0 0 0 0 0 0.1-0.1 0.2-0.2 0.3-0.4 0 0 0 0 0 0 0.1-0.1 0.1-0.3 0.1-0.4 0 0 0-0.1 0-0.1 0-0.1 0-0.2 0-0.4 0 0 0-0.1 0-0.1 0-0.2 0-0.3-0.1-0.5 0 0 0 0 0 0 -0.5-1.6-1.7-6.6-1.2-9.6 0.2-1.1-0.6-2.1-1.7-2.3 -1.1-0.2-2.1 0.6-2.3 1.7 -0.2 1.5-0.2 3.1 0 4.7 -2.1-1.7-4.4-3.1-6.9-4.3 -16.1-7.3-35.1-0.1-42.3 16 -3.5 7.8-3.8 16.5-0.8 24.5 0.3 0.8 1.1 1.3 1.9 1.3 0.2 0 0.5 0 0.7-0.1 1-0.4 1.6-1.5 1.2-2.6C3.2 34.7 3.4 27.1 6.5 20.3z" class="a"/><path d="M25.3 55c2.2 0.6 4.4 1 6.7 1 9.3 0 18.1-5.4 22-14.2 2.7-5.9 2.9-12.4 0.6-18.4 -0.3-0.7-1-1-1.7-0.8 -0.7 0.3-1 1-0.8 1.7 2 5.4 1.8 11.2-0.5 16.4C47.2 50.4 36.2 55.4 26 52.4c-0.7-0.2-1.5 0.2-1.7 0.9C24.2 54.1 24.6 54.8 25.3 55z" class="a"/><path d="M37.6 11.1c0.7 0.2 1.4-0.2 1.6-0.9 0.2-0.7-0.2-1.4-0.9-1.6C26.8 5.5 14.9 11.1 10 21.9c-2.7 5.9-2.9 12.4-0.6 18.4 0.2 0.5 0.7 0.9 1.2 0.9 0.2 0 0.3 0 0.5-0.1 0.7-0.3 1-1 0.8-1.7 -2-5.4-1.8-11.2 0.5-16.4C16.8 13.4 27.4 8.4 37.6 11.1z" class="a"/></svg>
        </div>
        <div class="slider-content">
{{!--           <div>
            <img src="img/h1.png" alt="screenshot of the site"/>
          </div>
          <div>
            <img src="img/h2.png" alt="screenshot of the site"/>
          </div> --}}
          <div>
            <img src="img/h3.png" alt="screenshot of the site"/>
          </div>
          <div>
            <img src="img/h6.png" alt="screenshot of the site"/>
          </div>
          <div>
            <img src="img/h4.png" alt="screenshot of the site"/>
          </div>
          <div>
            <img src="img/h5.png" alt="screenshot of the site"/>
          </div>
          <div>
            <img src="img/h7.png" alt="screenshot of the site"/>
          </div>
{{!--           <div>
            <img src="img/h8.jpg" alt="screenshot of the site"/>
          </div> --}}
        </div>
      </div>
      <p class="mt-xxlg">
      Hotnight is an app project that my friend and I started  to help travelers in Whistler, BC find hostel rooms during the skii season. Hotnight lets you set email notifications to watch when a spot becomes available at your favourite hostel. So far we've integrated five different locations and are working on adding many more in BC and Alberta.</p>

      <p>Since James Mastuba and I created this app in the early spring of 2016, we’ve grown to a team of 4 and acquired 150 users, many of which use Hotnight regularly in Whistler. We love to work on Hotnight as a side project and are constantly working on improving its features and user experience.</p>

      <p>We've improved the user experience since the initial design, but we are working on creating a new, more clean and simple user experience and interface for hotnight.ca. We are also adjusting the experience according to user feedback and error reports.</p>

      <div class="blog-img-container">
        <img src="img/hotnight-mock1.png" class="blog-img" alt="mockup of the website"/>
      </div>

      <p>I am currently working on improving the experience of the location and date entry to remove friction and errors. I also improved the visualization of the room data for a much clearer overview and selection of dates on both mobile and desktop.</p>

      <p>Hotnight is built using Ruby on Rails is a constant work in progress. Make sure to check back for the latest improvements!</p>

      <p>Check it out at <a href="http://hotnight.ca/" target="
      _blank" class="link">hotnight.ca</a>.</p>

      <div class="mt-xxlg">
        <img src="img/h9.jpg" class="blog-img-2" alt="mockup of the website"/>
        <img src="img/h0.jpg" class="blog-img-3" alt="mockup of the website"/>
      </div>
      <div class="clear"></div>
    </div>
  </article>
</div>