<div class="blog-post">
  <div class="blog-header">
  </div>
  <article>
    <div class="blog-title-container">
      <h1 class="blog-title">Designing and developing a user experience for messaging </h1>
    </div>
    <div class="mt-xxlg">
      <span class="blog-details">
        <span class="mr-xxlg bold">February 2017</span>
        <a href="/" class="link mr-xxlg">parkpnp.com</a>
        <div class="d-inline-block blog-tags">
          <span class="mr-lg bold tag tag-red">ux &amp; ui design</span>
          <span class="bold tag tag-blue">front-end code</span>
        </div>
      </span>
      <div class="blog-img-container">
        <img src="img/parkpnp-mock2.png" class="blog-img" alt="mockup of the website"/>
      </div>
      <p class="mt-xxlg">
      I created the messaging user experience to be intuitive, easy, and familiar. I designed the interface to be clean, minimal, and simple.</p>
      
      <p>I designed the new responsive feature to fit with the current branding of the app, suiting the colors, general UI, and fonts, and suiting the design to already existing breakpoints. The new messaging feature also included an request approval process, for which I created a user experience that is intuitive, clear, easy to follow, and which uses patterns users are already familiar with.</p>

      <p>For my design process I use Sketch, and I developed the user interface using my clients current stack; SASS, Bootstrap, HAML, and Ruby on Rails, while integrating best practices that will be easy for them to maintain and use. </p>

      <p>If you'd like to take it for a spin you can find this feature at <a href="http://parkpnp.com/" target="
      _blank" class="link">parkpnp.com</a>.</p>
    </div>
  </article>
</div>