<div class="blog-post">
  <div class="blog-header">
  </div>
  <article>
    <div class="blog-title-container">
      <h1 class="blog-title">A painless solution to daily symptom tracking</h1>
    </div>
    <div class="mt-xxlg">
      <span class="blog-details">
        <span class="mr-xxlg bold">New project</span>
        <div class="d-inline-block blog-tags">
          <span class="mr-lg bold tag tag-red">ux &amp; ui design</span>
        </div>
      </span>
      <div class="blog-img-container">
        <img src="img/log-pal.jpg" class="blog-img" alt="mockup of the app"/>
      </div>
      <p class="mt-xxlg">
       This is a basic application created with the team of Women Who Go Vancouver to learn Golang.</p>

       <p>We sought to solve the problem of easy and simple symptom tracking. Privacy and over complicated applications are an issue for those trying to digitally record their symptoms for documentation. PainPal is extremely simple, minimal, does not require log in and displays no ads.</p>
      <div class="blog-img-container">
        <img src="img/log-pal.jpg" class="blog-img" alt="mockup of the app"/>
      </div>
    </div>
  </article>
</div>