<div class="blog-post">
  <div class="blog-header">
  </div>
  <article>
    <div class="blog-title-container">
      <h1 class="blog-title">A painless solution to daily symptom tracking</h1>
    </div>
    <div class="mt-xxlg">
      <span class="blog-details">
        <span class="mr-xxlg bold">New project</span>
        <div class="d-inline-block blog-tags">
          <span class="mr-lg bold tag tag-red">ux &amp; ui design</span>
        </div>
      </span>
      <div class="blog-img-container">
        <img src="img/log-pal.jpg" class="blog-img" alt="mockup of the app"/>
      </div>
      <p class="mt-xxlg">
       This is a progressive web app to track your renovation journey. As a tean of 5 we created this project during a 24hr hackathon hosted by BuildDirect. </p>

       <p>As part of the team I worked closely with the designer to code the experience as she was designing it. </p>
      <div class="blog-img-container">
        <img src="img/log-pal.jpg" class="blog-img" alt="mockup of the app"/>
      </div>
    </div>
  </article>
</div>