<div class="blog-post">
  <div class="blog-header">
  </div>
  <article>
    <div class="blog-title-container">
      <h1 class="blog-title">Branding values of Youth and Movement</h1>
    </div>
    <div class="mt-xxlg">
      <span class="blog-details">
        <span class="mr-xxlg bold">February 2017</span>
        <a href="/" class="link mr-xxlg">parkpnp.com</a>
        <div class="d-inline-block blog-tags">
          <span class="bold tag tag-red">brand design</span>
        </div>
      </span>
      <div class="blog-img-container">
        <img src="img/discourse.jpg" class="blog-img" alt="mockup of the website"/>
      </div>
      <p class="mt-xxlg">
       This project was logo and brand design for Possible Canadas, a project produced by Discourse Media.</p>

      <p>Possible Canadas is a journalism movement to create a better Canada. It is full of energy; to encourage dialogue, to move Canada forward, to create a more inclusive space for all Canadians.</p>

      <p>The brands characteristics are energy, movement and inclusivity.</p>
    </div>
  </article>
</div>