<div class="blog-post">
  <div class="blog-header">
  </div>
  <article>
    <div class="blog-title-container">
      <h1 class="blog-title">Designing a product and experience</h1>
    </div>
    <div class="mt-xxlg">
      <span class="blog-details">
        <span class="mr-xxlg bold">February 2017</span>
        <a href="/" class="link mr-xxlg">parkpnp.com</a>
        <div class="d-inline-block">
          <span class="bold ">ux &amp; ui design</span>
        </div>
      </span>
      <div class="blog-img-container">
        <img src="img/home-reno-mock.jpg" class="blog-img" alt="mockup of the website"/>
      </div>
      <p class="mt-xxlg">
         My project partner and I are building a team to create an experience that will capture the productivity, community, and journey involved in the home renovation process. 
      </p>


      <p>More to come. Stay tuned for updates!</p>

      <div class="blog-img-container">
        <img src="img/wip.jpg" class="blog-img" alt="mockup of the website"/>
      </div>
    </div>
  </article>
</div>